# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.idea/
rasengan/.vs/
*.user
rasengan/obj/
rasengan/bin/
*.sln
*.vcxproj
rasengan/cmake-build-debug/
rasengan/Rasengan.vcxproj.filters
build/.cmake/
build/
.vscode
rasengan/spv_files/*.spv
*/imgui.ini
